.container {
    background-image: url("../assets/img/bg-2.jpg");
    width: 750px;
    height: 571px;
    margin: auto;
}

.box {
    width: 247px;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}